:root {
  
  background-color: #f6f6f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
}

main {
  width: 100%;
  margin: auto;
}

button {
  background-color: #1786fa;
  color: #ffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  scale: 105%;
  cursor: pointer;
}

section {
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}

.active {
  color: #1786fa;
  /* font-weight: 500; */
  transition: color .3s;
}

footer {
  font-size: 14px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}

footer p {
  text-align: center;
}

a {
  color: hwb(0 0% 100% / 0.800);
  text-align: center;
}